<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253857880082-3e0cq73v2477dqi7mhjs42tjuddl5i5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253857880082-3e0cq73v2477dqi7mhjs42tjuddl5i5g</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLLD64xPrxYsqujeVFaSVDmi2b2uh1P0</string>
	<key>GCM_SENDER_ID</key>
	<string>253857880082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantApp</string>
	<key>PROJECT_ID</key>
	<string>restaurant-app-d6c93</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-app-d6c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253857880082:ios:5e0ca8d200af7cedfee0cb</string>
</dict>
</plist>